body.body-container{background-color:#e6ebee;text-align:left; margin-top:0px; margin:auto; width:930px; position:relative;  }
span.page-container { width:930px; text-align:left; display:block; }
div.bup-content {background-color:#fff; float:left; clear:none; }
div.page-container { width:930px; text-align:left; }

/*general*/
body { font-family:Verdana,Arial,Helvatica,Sans-Serif; font-size:14px; line-height:1.35em; color:#333; }
img { border:0px; }
h1 { font-size: 14pt; color:black; line-height:normal; font-family:Arial, Helvetica, sans-serif;}
h2 { font-size: 13px; color:black; line-height:normal;}
h3 { font-size: 12px; color:black; line-height:normal;}
sup, sub { font-size:x-small; }
sup { vertical-align:text-top; }
a:link { text-decoration:underline; color:#06c; }
a:visited { color:#06c; }



/*header*/
div.bup-header{ background-color:#fff; height:65px; border-bottom:#006699 solid medium; }
div.bup-header-right {float:right; text-align:right; line-height:1.2em; width:auto; font-size:18px; padding:12px 15px 15px 0; font-family:Arial, Helvetica, sans-serif;} /* top and right attributes needed for firefox 2 */
div.bup-header-right span{font-size:14px; font-weight:bold;}


/*links column on the right*/
div.bup-links {width:220px; float:right; clear:none; position:relative; padding:25px 15px 15px 15px;}

div.bup-links h4 {
	font-weight:bold; 
	font-size:14px; 
	margin-top:10px;
	margin-bottom:6px;
	border-bottom:1px solid #f93;
	margin-left:-14px;
}


div.bup-links ul {
	padding:0px;
	margin:0;
	font-weight:bold; font-size:11px; 
  }

	
div.bup-links li {
	line-height: 1.3em;
	padding-left:2px;
	padding-bottom:10px;
	margin-left: 0 px;
	font-weight:normal;	
	list-style:square; list-style-position:outside;
	color:#f93;
	}

div.bup-links li a {font-size:12px;}
div.bup-links li a:link {text-decoration: none;}
div.bup-links li a:hover{text-decoration: underline;}
div.bup-links li a:visited{color:#06C;text-decoration: none;}

	  
/*form*/
div.bup-form {width:640px; float:left; margin:0; padding:20px;}
/*.box { width:200px; border: 1px ridge #069; }*/
#form { border: none; background:#666; top:20px; margin:auto; width:552px; position: relative;}
#form-content { position: relative; background:#e6ebee; top:-1px; left:-1px;}
.bup-table th { border-collapse:collapse; border-bottom: 2px solid #069; text-align:center; padding:3px; background-color:#daecf6; font-weight:normal;}
td.reset { border-bottom: 1px outset #999; border-top: 1px inset #999;}
.bup-table td {padding:10px;}
/*input.adjust_font {}*/
#progressbar {
background-color:#999999;
font-size:10px;
width:0px; /* Start at 0px width...will be modified by progress.js. */
height: 1.5ex;
background-color:#006699;
border:0px solid white;
margin:0.5em;
}
#tp {
margin-left: 0.5em;
text-align:left;
}

/*bup-upload*/
div.bup-upload { width:480px; margin:20px 0 0 0; padding:20px 0 10px 0; border-top: 1px dashed #daecf6; float:left; }
div.bup-upload span {float:left; clear:none; width:640px; text-align:center; margin:10px 0 0 0; 
padding:0 0 10px 0; }

/*dev kit photo*/
div.bup-board-photo { width:640px; margin:20px 0 0 0; padding:20px 0 10px 0; border-top: 1px dashed #daecf6; float:left; }
div.bup-board-photo span {float:left; clear:none; width:640px; text-align:center; margin:10px 0 0 0; 
padding:0 0 10px 0; }

div.dev-kit-flash {margin:0; padding:0; float:left; clear:none; position:relative;}



/*footer*/
div.footer-gutter { position:relative; top:10px; width:930px; height:10px; background-color:#e6ebee; clear:both; }
div.footer-container-blur {	width:930px; height:60px; margin:0px 0 0 2px; background-color:#999; clear:both; }
div.footer-container-shadow { width:930px; height:60px; position:relative; bottom:1px; right:1px; background-color:#666; }
div.footer-container { width:930px; height:60px; font-size:11px; position:relative; bottom:1px; right:1px; background-color:#8cafd5; color:#fff; }
div.footer-copyright { text-align:center; padding:1.5em 0em 0em 0em;}

/*popup*/
div.bup-popup{ width:700px; height:auto; }

div.bup-popup h4 {
	font-size:11px;
	font-weight:bold;
	border-bottom:1px dotted #ccc;
	padding-top:10px;
	padding-bottom:4px;}
	
/*general text */
.box{
                font-family:Tahoma, Geneva, sans-serif;
                font-size:12px;                
}



/*
a:link{ 
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none;
	color:#06C; 
       }
a:visited{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
       	}
a:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: #FF9900;
	text-decoration: underline;
       }
a:active{
	font-family: Arial, Helvetica, sans-serif;
	}

#container{
	width:1024px;
	margin:0 auto;
	text-align:left;
	background:#FFF;
}

#header{
	background:#06C;
   clear:both;
	margin-bottom:0;
}
#header p{
	margin-top:0;
	margin-bottom:0;
	text-align:center;
	color:#FFF;
}

#main_content{
	margin-bottom:0;
	display:inline;
	width:804px;
	float:left;
	margin-left:210px;
	margin-top:2ex;
	background:#FFF;
	font:75%/140% Arial, Helvetica, sans-serif;
}
#main_content p.intro{
	margin-top:15ex;
	margin-bottom:5ex;
}
#main_content p.side{
	margin-top:1ex;
	margin-bottom:10ex;
}
#main_content p{
	margin-top:1ex;
	margin-bottom:1ex;
}
#main_content p.align_center{
	text-align:center;
}
#main_content p.note{
	padding-left:2em;
	padding-right:2em;
	text-align:left;
	font:85%/140% Arial,Helvetica, sans-serif;
}

#links{
	width:0px;
	height:850px;
	float:left;
	margin-left:10px;
	margin-top:0;
	margin-bottom:0;
	background:#EFEFEF;
}
#links ul.main{
	margin-left:1em;
}
#board_interaction{
	width:200px;
	height:850px;
	float:left;
	margin-left:-1024px;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	font:85%/140% Arial, Helvetica, sans-serif;
	background:#EFEFEF;
}
#board_interaction p{
	margin-top:0;
	margin-bottom:0;
	margin-left:0.5em
}

#foot{
	background:#06C;
	clear:both;
	color:#FFF;
	margin-top:0;
}
#foot p{
	margin-top:0;
	margin-bottom:0;
}
*/


